$turquoise-green: #b7e4c7ff;
$turquoise-green-2: #95d5b2ff;
$nyanza: #d8f3dcff;
$ocean-green: #74c69dff;
$ocean-green-2: #52b788ff;
$illuminating-emerald: #40916cff;
$bottle-green: #2d6a4fff;
$brunswick-green: #1b4332ff;
$dark-jungle-green: #081c15ff;
