@import "./globals.scss";

.upload {
  background-color: $nyanza;
  flex: 0.6;
  height: calc(100vh - 100px);
  margin: 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dragndrop {
  flex-direction: column;
  margin: 15px;
  border-radius: 30px;
  border-color: gray;
  border-style: dashed;
  padding: 20px;
  height: 70%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.buttonClass {
  display: flex;
  flex-direction: row;
}

.button {
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: $bottle-green;
  color: white;
}

.imagediv {
  width: 70%;
  height: 70%;
  object-fit: fill;
  overflow: hidden;
}

.previewimg {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.dragndroptext {
  font-size: 30px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}
